.navbar {
  position: fixed;
  bottom: 0;
  background-color: #143d59;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.navbarOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh auto;
  color: white;
  font-size: small;
  font-weight: bold;
}

.navbarOptions img {
  width: 5vw;
  height: 5vw;
}
